name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deployment:
    # Only run deploy if required secrets are configured
    if: ${{ secrets.HOST != '' && secrets.USERNAME != '' && secrets.SSHKEY != '' }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy Docker Compose
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          USERNAME: ${{ secrets.USERNAME }}
          PORT: ${{ secrets.PORT }}
          KEY: ${{ secrets.SSHKEY }}
          script: ./FindFirst/deploy/deploy.sh
